name: Proto CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  buf:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Buf
        uses: bufbuild/buf-setup-action@v1
        with:
          version: latest

      - name: Lint
        run: buf lint

      - name: Breaking
        run: buf breaking --against '.git#branch=main'

      - name: Generate
        run: buf generate

      - name: Verify Clean Git State
        run: |
          git diff --exit-code
